@model UserManagementWithIdentity.Models.MyTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Status" class="control-label"></label>
                @*                <input asp-for="Status" class="form-control" />
                *@
                <div class="row">

                    @foreach (var item in Html.GetEnumSelectList<TaskStatus>())
                    {
                        <div class="col-md-4">
                            <div class="row">
                                @if (item.Text == Model.Status.ToString())
                                {
                                    <input asp-for="Status" class="col-lg-2" type="radio" value="@item.Value" checked />
                                }else
                                {
                                <input asp-for="Status" class="col-lg-2" type="radio" value="@item.Value" />
                                }
                                <div class="col-lg-10">
                                    @item.Text
                                </div>
                            </div>
                            <br />

                        </div>

                    }
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    <label asp-for="TaskDate" class="control-label"></label>
                    <input asp-for="TaskDate" class="form-control" />
                    <span asp-validation-for="TaskDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TaskTimeFrom" class="control-label"></label>
                    <input asp-for="TaskTimeFrom" class="form-control" />
                    <span asp-validation-for="TaskTimeFrom" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TaskTimeTo" class="control-label"></label>
                    <input asp-for="TaskTimeTo" class="form-control" />
                    <span asp-validation-for="TaskTimeTo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="mt-2">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
