@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="m-auto ">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <div class="text-center">
        <a href="/"> <img class="w-50 " src="~/images/accessDenied.png" /></a>
    </div>

</header>
