@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Manage Roles";
}

<partial name="_RoleForm" model="new RoleFormViewModel()"></partial>
@*<table class="table table-hover">
    <thead>
        <tr class="bg-dark text-white">
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {

            <tr>
                <th scope="row">@role.Id</th>
                <td>@role.Name</td>
            </tr>
        }

    </tbody>
</table>*@

<div class="row">
    @foreach (var role in Model)
    {

        <div class="col-3 bg-light p-4 ">
            <h1>@role.Name</h1>
            <hr>
            <div>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>

    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}